.card .view img {
    width: 100%;
}

.cards {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    row-gap: 10px;
}

.cards .card {
    width: calc(100% / 4);
    cursor: pointer;
    position: relative;
    perspective: 800px;
    transform-style: preserve-3d;
    background: transparent !important;
    border: none !important;
}

.cards .card .view {
    background: transparent !important;
    transition: transform .25s linear;
    backface-visibility: hidden;
    pointer-events: none;
    user-select: none;
}
.cards .card .view.back-view {
    position: absolute;
}

.card .front-view span {
    font-size: 40px;
    color: #6563ff;
}

.card .back-view {
    transform: rotateY(-180deg);
}

/*JS 3*/
.card.flip .back-view {
    transform: rotateY(0);
}

.card.flip .front-view {
    transform: rotateY(180deg);
}

.card.beat {
    animation: beat 0.35s ease-in-out;
}

.card.shake {
    animation: shake 0.35s ease-in-out;
}

@keyframes beat {

    0%,
    100% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.1);
    }
}
@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-13px);
    }

    40% {
        transform: translateX(13px);
    }

    60% {
        transform: translateX(-8px);
    }

    80% {
        transform: translateX(8px);
    }
}