/* * {
    font-family: 'Comic Sans MS', sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
  } */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f3f3f3; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  color: #ff4500;
}

.quiz-container {
  border-radius: 10px;
  max-width: 500px;
  justify-content: center;
  height: 100%;
}

#question-board {
  width: 100%;
  min-height: 200px;
  font-size: 1.2em;
  box-sizing: border-box;
  overflow-wrap: break-word;
  background-image: url("/images/basic/question-board.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 10px;
}

#options button {
  /* display: block; */
  /* background-color: #87cefa; */
  /* color: white; */
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  cursor: pointer;
  font-size: 1em;
  width: 100%;
  aspect-ratio: 1/1;
}

.result {
  font-size: 1.2em;
  color: #32cd32;
  margin-top: 20px;
}

.next {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.next:hover {
  background-color: #ff4500;
}